//! **************************************************************************
// Written by: Map P.20131013 on Sun Feb 25 18:39:35 2024
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "D4" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

